.button-edit-profile {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 1px solid #FFFFFF;
  background-image: url(../../images/Edit_Button.svg);
  padding: 0;
  background-repeat: no-repeat;
  align-self: center;
  margin-top: 7px
}
