.profile-form__item {
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  padding: 0;
}

.profile-form__item:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .profile-form__item {
    width: 238px;
  }
}
