.profile-form__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  margin: 0;
  padding-top: 34px;
}

@media screen and (max-width: 767px) {
  .profile-form__heading {
    font-size: 18px;
    padding-top: 25px;
    text-align: center;
  }
}
